[Unit]
Description=Run the feedbot service every 10 minutes
Requires=feedbot.service

[Timer]
Unit=feedbot.service
OnCalendar=*:0/10

[Install]
WantedBy=timers.target
